<!DOCTYPE html>
<html>
  <head>
    <title>Stimer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://use.fontawesome.com/releases/v5.7.0/css/all.css" %>

  </head>

  <%= render '/layouts/header' %>

  <div class="jumbotron jumbotron-fluid">
	 <div class="container">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-3 float-md-center">
		<%= image_tag("sweetsketchb", class:"img-fluid") %><br>
	  <body>
	    <%= yield %>
	  </body>
   </div>
  </div>
 </div>

</html>
